<!-- app/views/lists/top.html.erb -->
<h1>Lists</h1>
<div id="lists">
  <% @lists.each do |list| %>
    <%= list.name %>
    <% if list.photo.attached? %>
      <%= cl_image_tag(list.photo.key, width: 400, height: 300, crop: :fill) %>
      <%# <%= cl_image_tag list.photo.key %>
    <% else %>
      <%= image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU' %>
    <% end %>
    <p>
      <%= link_to "Show movies in the list", list %>
    </p>
  <% end %>
  <%= link_to "Create a movie list", new_list_path, class: "btn btn-flat" %>
</div>
